<div class="card">
  <p-toast position="bottom-center" ></p-toast>
      <h2>Asistentes</h2>
    <div *ngIf="!events">
      <p-table [value]="loadingTable" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
      <p-table
        *ngIf="events"
        #dt1
        [value]="events"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loadingApoiments"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
        'appointment.event_id.name',
        'appointment.event_id.typeMeeting',
        'appointment.event_id.location',
        'appointment.appointment_start'
        ]"
    >
    <ng-template pTemplate="caption">
      <div class="flex">
            <button pButton label="Exportar" class="p-button-outlined"
            icon="pi pi-file-export"
            (click)="exportCSVCustom()"
            ></button>
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt1)"
            ></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
                <input pInputText type="text"
                (input)="onGlobalFilter($event)"
                placeholder="Search keyword" />
          </span>
      </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                        Nombre Evento
                        <p-columnFilter type="text" field="appointment.event_id.name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                      Ver Evento
                  </div>
              </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Tipo Evento
                        <p-columnFilter type="text" field="appointment.event_id.typeMeeting" display="menu"></p-columnFilter>
                    </div>
                  </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Lugar Evento
                    <p-columnFilter type="text" field="appointment.event_id.location" display="menu"></p-columnFilter>
                </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Tema Agendado
                        <p-columnFilter type="text" field="appointment.topic.name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Fecha Evento
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Hora Evento
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Duracion Evento
                        <p-columnFilter type="numeric" field="appointment.event_id.duration" display="menu" ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Asistentes
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr>
                <td>
                  {{appointment.appointment.event_id.name}}
                </td>
                <td>
                  <a
                  href="{{appointment.appointment.link_google_calendar}}"
                  target="_blank"
                  rel="noopener noreferrer">
                  <p-button label="Ver Evento" [link]="true">
                  </p-button>
                </a>
                </td>
                <td>
                  {{ appointment.appointment.event_id.typeMeeting}}
                </td>
                <td>
                  {{appointment.appointment.event_id.location}}
                </td>
                <td>
                    {{appointment.appointment.topic.name}}
                </td>
                <td>
                    {{ appointment.appointment.appointment_start | date:'MM/dd/yyyy' }}
                </td>
                <td>
                    {{ appointment.appointment.appointment_start | date: 'hh:mm a' }}
                </td>
                <td>
                    {{ appointment.appointment.event_id.duration}} Min
                </td>
                <td>
                    <table>
                      <thead>
                        <tr>
                          <th style="min-width:10rem">Nombre</th>
                          <th style="min-width:20rem">Email</th>
                          <th style="min-width:5rem">Asistió</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let assistant of appointment.attendees">
                          <ng-container *ngIf="assistant.user.email != myEmail;">
                            <td>
                                <ng-container *ngIf="assistant.user.first_name; else notRegistered">
                                    {{ assistant.user.first_name }} {{ assistant.user.last_name }}
                                </ng-container>
                                <ng-template #notRegistered>
                                    Usuario No Registrado
                                </ng-template>
                            </td>
                            <td>
                                {{ assistant.user.email }}
                              </td>
                              <td>
                                <p-toggleButton
                                onLabel="Si"
                                offLabel="No"
                                [(ngModel)]="assistant.attended"
                                (onChange)="markAttended(appointment.appointment.id_appointment, assistant.user.id_user, $event.checked ?? false)"
                                ></p-toggleButton>
                              </td>
                            </ng-container>
                        </tr>
                      </tbody>
                    </table>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
      </p-table>
</div>

<div class="card">
      <h2>Proximos Eventos</h2>
    <div *ngIf="!eventsUpcoming">
      <p-table [value]="loadingTable" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
      <p-table
        *ngIf="eventsUpcoming"
        #dt1
        [value]="eventsUpcoming"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
        'event_id.name',
        'event_id.typeMeeting',
        'event_id.location',
        'appointment_start'
        ]"
    >
    <ng-template pTemplate="caption">
      <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt1)"
            ></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
                <input pInputText type="text"
                (input)="onGlobalFilter($event)"
                placeholder="Search keyword" />
          </span>
      </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                        Nombre Evento
                        <p-columnFilter type="text"
                        field="event_id.name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                      Ver Evento
                  </div>
              </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Tipo Evento
                        <p-columnFilter type="text" field="event_id.typeMeeting" display="menu"></p-columnFilter>
                    </div>
                  </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Lugar Evento
                    <p-columnFilter type="text" field="appointment.event_id.location" display="menu"></p-columnFilter>
                </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Tema Agendado
                        <p-columnFilter type="text" field="appointment.topic.name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Fecha Evento
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Hora Evento
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Duracion Evento
                        <p-columnFilter type="numeric" field="appointment.event_id.duration" display="menu" ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Asistentes
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr>
                <td>
                  {{appointment.event_id.name}}
                </td>
                <td>
                  <a
                  href="{{appointment.link_google_calendar}}"
                  target="_blank"
                  rel="noopener noreferrer">
                  <p-button label="Ver Evento" [link]="true">
                  </p-button>
                </a>
                </td>
                <td>
                  {{ appointment.event_id.typeMeeting}}
                </td>
                <td>
                  {{appointment.event_id.location}}
                </td>
                <td>
                    {{appointment.topic.name}}
                </td>
                <td>
                    {{ appointment.appointment_start | date:'MM/dd/yyyy' }}
                </td>
                <td>
                    {{ appointment.appointment_start | date: 'hh:mm a' }}
                </td>
                <td>
                    {{ appointment.event_id.duration}} Min
                </td>
                <td>
                    <table>
                      <thead>
                        <tr>
                          <th style="min-width:10rem">Nombre</th>
                          <th style="min-width:20rem">Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let assistant of appointment.user_appointment">
                          <ng-container *ngIf="assistant.email != myEmail;">
                            <td>
                                <ng-container *ngIf="assistant.first_name; else notRegistered">
                                    {{ assistant.first_name }} {{ assistant.last_name }}
                                </ng-container>
                                <ng-template #notRegistered>
                                    Usuario No Registrado
                                </ng-template>
                            </td>
                            <td>
                                {{ assistant.email }}
                              </td>
                            </ng-container>
                        </tr>
                      </tbody>
                    </table>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
      </p-table>
</div>

