<div class="my-card-style">
  <p-toast key="ua" position="bottom-center"></p-toast>
  <p-card
    header="{{availability.name}}">
    <div *ngFor="let weeks of availability.weekDays">
      {{weeks.name}}
      <div *ngFor="let intervals of weeks.intervals">
        {{intervals.date_start}} - {{intervals.date_end}}
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="grid">
        <div class="col-12 md:col-2">
          <p-confirmPopup></p-confirmPopup>
          <p-button
            severity="danger"
            icon="pi pi-trash"
            (click)="confirmDelete($event,availability.id_availability)"
            [loading]="loandingDeleteAvailability"
            ></p-button>
        </div>
        <div class="col-12 md:col-2">
          <p-button
            severity="secondary"
            icon="pi pi-pencil"
            (click)="editAvailability(availability)"
            ></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>

  <p-dialog header="Editar Disponibilidad"
    [(visible)]="display"
    [modal]="true"
    showEffect="fade"
    [style]="{width: '70vw',
                      height: '70vh'
                      }"
    [breakpoints]="{'960px': '75vw'}">
    <div class="grid">
      <div class="col-12 md:col-12">
        <!-- app.component.html -->
        <form [formGroup]="form" (ngSubmit)="updateForm()"
          autocomplete="off">
          <div class="formgrid grid">
            <div class="field col-12 md:col-12">
              <label for="availabilityName">Nombre de Disponibilidad
              </label>
              <input
                formControlName="availabilityName"
                id="availabilityName"
                type="text"
                pInputText
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              <small
                *ngIf="form.get('availabilityName')!.invalid && form.get('availabilityName')!.touched"
                id="availabilityName" class="p-error block">El
                campo es obligatorio.
              </small>
            </div>
            <div class="field col-12 md:col-12">
              <div formArrayName="weekDays" class="formgrid grid">
                <div *ngFor="let day of weekDays.controls; let i = index"
                  class="field col-12 md:col-12">
                  <app-time [dayForm]="castToFormGroup(day) "></app-time>
                </div>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12">
              <button
                pButton
                type="submit"
                label="Guardar"
                class="p-button-outlined"
                [loading]="loandingSaveAvailability"
                >
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </p-dialog>

</div>
