<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
      <img src="../../../assets/images/isotipo.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgb(177, 16, 16) 10%, rgba(243, 33, 33, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
              <span class="text-red-900 font-bold text-3xl">404</span>
              <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>
              <div class="text-600 mb-5">Requested resource is not available.</div>

              <a [routerLink]="['/']" class="w-full flex align-items-center mb-5 py-5 border-300 border-bottom-1">
                  <span class="flex justify-content-center align-items-center bg-red-900 border-round"
                  style="height:3.5rem; width:3.5rem;">
                      <i class="pi pi-fw pi-home text-50 text-2xl"></i>
                  </span>
                  <span class="ml-4 flex flex-column">
                      <span class="text-900 lg:text-xl font-medium mb-0">Volver al inicio</span>
                      <span class="text-600 lg:text-xl"></span>
                  </span>
              </a>
          </div>
      </div>
  </div>
</div>
