<div class="my-card-style">
  <p-toast key="ue" position="bottom-center"></p-toast>
  <p-card
    header="{{topic.name}}">
    <ng-template pTemplate="footer">
      <div class="grid">
        <div class="col-12 md:col-2">
          <p-confirmPopup></p-confirmPopup>
          <p-button
            severity="danger"
            icon="pi pi-trash"
            (click)="confirmDelete($event,topic.id_topic)"
            [loading]="loandingDeleteTopic"
            ></p-button>
        </div>
        <div class="col-12 md:col-2">
          <p-button
            (click)="viewEdit(topic)"
            severity="secondary"
            icon="pi pi-pencil"></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
  <p-dialog header="Editar Tema"
    [(visible)]="displayEdit"
    [modal]="true"
    showEffect="fade"
    [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <div class="grid">
      <div class="col-12 md:col-12">
        <form [formGroup]="register" (ngSubmit)="updateTopic(topic.id_topic)"
          autocomplete="off">
          <div class="formgrid grid">
            <div class="field col-12 md:col-12">
              <label for="topicName">Id Topic {{topic.id_topic}}</label>
            </div>
            <div class="field col-12 md:col-12">
              <label for="topicName">Tema</label>
              <input id="topicName"
                type="text"
                pInputText
                [placeholder]="topic.name"
                formControlName="topicName"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              >
              <small
                *ngIf="register.get('topicName')!.invalid && register.get('topicName')!.touched"
                id="topicName" class="p-error block">El
                campo es obligatorio.
              </small>
            </div>

          </div>
          <div class="grid">
            <div class="col-12">
              <button
                pButton
                type="submit"
                label="Actualizar Tema"
                class="p-button-outlined"
                [loading]="loandingUpdateTopic"
                >
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-dialog>
</div>
