<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <p-toast position="bottom-center"></p-toast>
  <div class="flex flex-column align-items-center justify-content-center">
      <img src="../../../assets/images/isotipo.svg" alt="Agendar UFPS logo" class="mb-5 w-6rem flex-shrink-0">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgb(177, 16, 16) 10%, rgba(243, 33, 33, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
              <div class="text-center mb-5">
                  <div class="text-900 text-3xl font-medium mb-3"> Welcome</div>
                  <span class="text-600 font-medium">Sign in to continue</span>
              </div>
              <div class="w-full md:w-30rem mb-5">
                <div class="p-fluid p-formgrid grid justify-content-center">
                  <div class="p-field p-col-12 p-md-12">
                    <p-button
                    (onClick)="loginWithGoogle()"
                    [loading]="googleLogin"
                    severity="secondary"
                    label="Iniciar con Google"
                    icon="pi pi-google"></p-button>
                  <a href="{{loginGoogle}}" >
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
