<div>

</div>
<app-menu></app-menu>
  <div style="display: flex; align-items: center; justify-content: center;">
    <img src="../../../assets/images/ufps.png" alt="Descripción de la imagen" width="170" height="auto">
    <img src="../../../assets/images/ingSistemas.png" alt="Descripción de la imagen" width="80" height="auto">
  </div>

