<div class="my-card-style">
  <p-toast key="ue" position="bottom-center"></p-toast>
  <p-card
    header="{{card.title}}"
    subheader="{{card.time}} min, {{card.location}}"
    >
    <p>
      {{card.description}}
    </p>
    <ng-template pTemplate="footer">
      <div class="grid">
        <div class="col-12 md:col-8">
          <p-button
            [text]="true"
            severity="info"
            [outlined]="true"
            label="Copiar link"
            (click)="copyLink(card.title)"
            icon="pi pi-copy">
          </p-button>
        </div>
        <div class="col-12 md:col-2">
          <p-confirmPopup></p-confirmPopup>
          <p-button
          severity="danger"
          icon="pi pi-trash"
          [loading]="delected"
          (click)="confirmDelete($event,card)"
          ></p-button>
        </div>
        <div class="col-12 md:col-2">
          <p-button
          severity="secondary"
          icon="pi pi-pencil"
          (click)="showUpdateEvent(card)"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>

  <p-dialog header="Editar Evento"
  [(visible)]="displayEdit"
  [modal]="true"
  showEffect="fade"
  [style]="{width: '70vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <div class="grid">
    <div class="col-12 md:col-12">
      <form [formGroup]="register" (ngSubmit)="updateEvent(card)"
        autocomplete="off">
        <div class="formgrid grid">
          <div class="field col-12 md:col-9">
            <label for="nameEvent">Nombre del evento</label>
            <p-skeleton *ngIf="loandingObservation" height="2rem" styleClass="mb-2"></p-skeleton>
            <input *ngIf="!loandingObservation" id="nameEvent" type="text" pInputText
              formControlName="nameEvent"
              (change)="setEventNamePreview()"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="register.get('nameEvent')!.touched && !register.get('nameEvent')!.value"
              id="nameEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label for="activeEvent">Evento Activo</label>
            <p-selectButton formControlName="activeEvent"
            [options]="activeEventOptions"
            [multiple]="false"
            optionLabel="label"
            optionValue="value"
            >
          </p-selectButton>
            <small *ngIf="register.get('activeEvent')!.touched && !register.get('activeEvent')!.value"
              id="activeEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-9">
            <label for="availabilityEvent">Disponibilidad</label>
            <p-skeleton *ngIf="loandingAvailability" height="2rem" styleClass="mb-2"></p-skeleton>
            <p-dropdown
            *ngIf="!loandingAvailability"
            formControlName="availabilityEvent"
            [options]="availabilities"
            optionLabel="name"
            placeholder="Disponibilidad"
            >
          </p-dropdown>
            <small
              *ngIf="register.get('availabilityEvent')!.touched && !register.get('availabilityEvent')!.value"
              id="availabilityEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label for="durationEvent">Duracion</label>
            <p-dropdown *ngIf="minutes"
            (onChange)="setEventDurationPreview()"
            formControlName="durationEvent"
            [options]="minutes"
            optionLabel="label"
            placeholder="Seleccionar duracion"></p-dropdown>
            <small *ngIf="register.get('durationEvent')!.touched && !register.get('durationEvent')!.value"
              id="durationEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-12">
            <label for="topicEvent">Temas</label>
            <div *ngIf="loandingTopic" class="border-round border-1 surface-border p-4 surface-card">
              <div class="flex mb-3">
                <div class="grid">
                  <div class="field col-12 md:col-3">
                    <p-skeleton  width="10rem" styleClass="mb-2"></p-skeleton>
                  </div>
                  <div class="field col-12 md:col-3">
                    <p-skeleton  width="10rem" styleClass="mb-2"></p-skeleton>
                  </div>
                  <div class="field col-12 md:col-3">
                    <p-skeleton  width="10rem" styleClass="mb-2"></p-skeleton>
                  </div>
                  <div class="field col-12 md:col-3">
                    <p-skeleton  width="10rem" styleClass="mb-2"></p-skeleton>
                  </div>
                </div>

                </div>
            </div>
            <p-multiSelect
            *ngIf="!loandingTopic"
            formControlName="topicEvent"
            display="chip"
            [options]="topics"
            optionLabel="name"
            placeholder="Seleccionar Materias">
          </p-multiSelect>
            <small *ngIf="register.get('topicEvent')!.touched && !register.get('topicEvent')!.value "
              id="topicEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-12">
            <label for="observationEvent">Observaciones</label>
            <p-skeleton *ngIf="loandingObservation" width="100%" height="150px"></p-skeleton>
            <textarea
              *ngIf="!loandingObservation"
              formControlName="observationEvent"
              id="float-input"
              rows="5"
              cols="30"
              pInputTextarea
            >
            </textarea>
          <small *ngIf="register.get('observationEvent')!.touched && !register.get('observationEvent')!.value"
              id="observationEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-12">
            <label for="locationEvent">Lugar</label>
            <p-selectButton formControlName="locationEvent"
            [options]="lugarOptions"
            [multiple]="true"
            optionLabel="label"
            optionValue="value"
            >
          </p-selectButton>
            <small *ngIf="register.get('locationEvent')!.touched && !register.get('locationEvent')!.value"
              id="locationEvent" class="p-error block">El
              campo es obligatorio.
            </small>
          </div>
          <div class="field col-12 md:col-12"
          *ngIf="register.get('locationEvent')!.value.includes('in person')" >
            <label for="otherLocation">Lugar presencial</label>
            <input id="otherLocation"
            formControlName="otherLocation"
            type="text"
            pInputText
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <button
              pButton
              type="submit"
              label="Guardar"
              class="p-button-outlined"
              [loading]="loandingSaveEvent"
              [disabled]="!register.valid"
              >
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

</div>
