
<div class="fullscree">
  <p-toast key='ua' position="bottom-center"></p-toast>
  <div class="fitScreen">
    <p-card >
      <div class="grid">
        <div *ngIf="!event" class="field col-12 md:col-12 border-round border-1 surface-border p-4 surface-card">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
            <div>
              <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton height=".5rem"></p-skeleton>
            </div>
          </div>
          <p-skeleton width="100%" height="150px"></p-skeleton>
          <div class="flex justify-content-between mt-3">
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
          </div>
        </div>
        <form
          *ngIf="event"
          [formGroup]="register"
          (ngSubmit)="registerForm()"
          autocomplete="off">
          <div class="formgrid grid">

            <div class="field col-12 md:col-12">
              <label
                for="nameEvent" class="text-center"
                style="font-weight: bold; font-size: 3rem;">
                Evento: {{event.name}}
              </label>
            </div>

            <div
              class="field col-12 md:col-6 d-flex align-items-center justify-content-center">
              <i class="pi pi-clock" style="font-size: 2.5rem"></i>
              <label
                for="nameEvent"
                style="font-size: 2.5rem">
                {{event.duration}} Minutos
              </label>
            </div>

            <div class="field col-12 md:col-6">
              <div class="grid">
                <div class="field col-12 md:col-2">
                  <i class="pi pi-map-marker" style="font-size: 2.5rem"></i>
                </div>
                <div class="field col-12 md:col-10">
                  <p-selectButton
                  [options]="locationOptions"
                  formControlName="location"
                  optionLabel="label"
                  optionValue="value"
                  ></p-selectButton>
                </div>
              </div>

            </div>

            <div class="field col-12 md:col-6">

                <div class="field col-12 md:col-12">
                  <p-skeleton *ngIf="loadingTopics" height="2rem" styleClass="mb-2"></p-skeleton>
                  <p-dropdown
                    *ngIf="!loadingTopics"
                    [options]="topics"
                    optionLabel="name"
                    [filter]="true"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                    placeholder="Seleccionar tema"
                    filterBy="name"
                    [showClear]="true"
                    formControlName="topic"
                    styleClass="w-full"
                    >
                  </p-dropdown>
                </div>
                <div class="field col-12 md:col-12">
                  <label>Comentarios</label>
                  <div class="max-w-full max-h-full">
                    <textarea
                      formControlName="comment"
                      id="float-input"
                      rows="15"
                      cols="50"
                      pInputTextarea
                      class="w-full h-full"
                      ></textarea>
                  </div>
                </div>
                <div class="field col-12 md:col-12">
                  <label>Agregar Invitados</label>
                  <div class="max-w-full max-h-full">
                    <p-chips
                    formControlName="guests"
                    styleClass="w-full"
                    ></p-chips>
                  </div>
                </div>
            </div>
            <div class="field col-12 md:col-6">
              <div class="grid">
                <div class="field col-12 md:col-12">
                  <p-calendar
                    formControlName="date"
                    [inline]="true"
                    (onSelect)="getEventPublicIntervals($event)"
                    [disabledDays]="getDiasDeshabilitados()"
                    [minDate]="minDate"
                    styleClass="w-full custom-calendar"
                    >
                  </p-calendar>
                </div>
                <div class="field col-12 md:col-12">
                  <p-skeleton *ngIf="loadingIntervals" height="2rem" styleClass="mb-2"></p-skeleton>
                  <p-dropdown
                    *ngIf="!loadingIntervals"
                    class="w-full"
                    [options]="intervarls"
                    optionLabel="hour"
                    [filter]="true"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="43"
                    placeholder="Seleccionar Hora "
                    filterBy="hour"
                    [showClear]="true"
                    formControlName="hour"
                    styleClass="w-full"
                    >
                  </p-dropdown>
                </div>
              </div>

            </div>
            <div class="field col-12 md:col-12">
              <button
                class="p-button w-full"
                pButton
                type="submit"
                label="Guardar"
                [loading]="loading"
                [disabled]="!(register.valid && register.get('hour')?.value)">
              </button>
            </div>
          </div>
        </form>
      </div>
      <div>
        <p>Al finalizar el proceso, el evento se agregará automáticamente a tu
          calendario de Google, utilizando la cuenta de correo electrónico con la que
          iniciaste sesión.</p>
      </div>
      <ng-template pTemplate="footer">
        <div class="text-center">
          <img src="../../../assets/images/isotipo.svg" alt="Logo" height="20" class="mr-2"/>
          Designed and developed by &nbsp; <span class="font-medium"> Ronald Benitez </span> and <span class="font-medium">&nbsp; Jhoser Pacheco </span>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

