<div class="layout-footer">
  <img src="../../../assets/images/isotipo.svg" alt="Logo" height="20" class="mr-2"/>
  Designed and developed by &nbsp; <span class="font-medium">&nbsp; Ronald Benitez </span>&nbsp; and <span class="font-medium">&nbsp; Jhoser Pacheco </span>
</div>
